.images {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0;
  .thumbnails {
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 30px;

    img {
      height: 130px;
      width: 130px;
      cursor: pointer;
      border: 1px solid orange;
      background-color: burlywood;
      border-radius: 15px;

      &.active {
        filter: blur(2px);
      }
    }
  }
}
.main-images img {
  height: 200px;
  width: 200px;
  margin-top: 30px;
  // border-radius: 15px;
  border: 2px solid transparent; 
  border-image: linear-gradient(to right, orange, #ff0099); 
  border-image-slice: 1;
}

@media screen and (max-width: 800px) {
  .images {
    .thumbnails {
      align-items: flex-start;
      grid-template-columns: repeat(3, 1fr);
      img {
        height: 130px;
        width: 130px;
      }
    }
    .main-images {
      img {
        height: 200px;
        width: 200px;
        margin-top: 30px;
      }
    }
  }
}

